__pycache__/
af_structures/
processed/
processed_500/
processed_big_atoms/
logs/
logs_big_11_1_24/
logs_daic_new/
thesis/
jobs.txt
brenda_structures/
brenda_processed/
gen/
traj/
afjson/
uniprot_sprot.fasta
uniprot_sprot.fasta.fai
OmegaOut/
downloads/
processed_seq/
wandb/